.chat-main
  .chat-main__group-info
    .chat-main__group-info__left
      %p.chat-main__group-info__left--name
        = @group.name
      %ul.chat-main__group-info__left--group
        %li.chat-main__group-info__left--group-member
          Member: 
        %li.chat-main__group-info__left--group-name
          - @group.users.each do |user|
            = user.name
      
    = link_to edit_group_path(@group) do
      .chat-main__group-info__right Edit

  .chat-main__message-list
    = render @messages

  .chat-main__message_form
    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'input-box_text', placeholder: 'type a message'
          = f.label :image, class: 'input-box_image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'input-box_image_file'
        = f.submit '送信', class: 'submit-btn'